@model WebMVC.Models.FormModel
@{
    ViewData["Title"] = "Form1";
}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayNameFor(model => model.Birthday):   @Html.DisplayFor(model => model.Birthday)
    <br />
    @Html.DisplayNameFor(model => model.DaysSinceBirthday):   @Html.DisplayFor(model => model.DaysSinceBirthday)
    <br />
    @Html.DisplayNameFor(model => model.IsLeapYear):   @Html.DisplayFor(model => model.IsLeapYear)
</div>
<br/>
<a href="/form1.html">Powrót do formularza</a>
